
body {
  background-color:#1E1F25;
  background-size: cover;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1 {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin: 2%;
  color: white;
}

td {
  border-color: white;
}

p {
  background-color: black;
}
table, td, th {
  border: 1px solid white;
}

div {
  text margin: 0px;
}

td {
  border-color: black;
}

p {
  background-color: black;
}
table, td, th {
  border: 1px solid white;
  color: white;
}







.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  line-height: 175px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

}

.wrap {
  flex-wrap: wrap;
  height: 750px;
  width: 800px;
}

.container {
align-items: center;
}

.containerv2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnv2 {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.Red {
  background-color: #ed3b3b;
  color: transparent;
}

.Yellow {
  background-color: #f5ef38;
  color: transparent;
}

.first {
  border: 1px solid;
  font-size: 46px;
  height: 90px;
  line-height: 100px;
  user-select: none;
  width: 110px;
  margin: 5%;
  border-radius: 50%;
  color: white;
}

.first:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.scoreboard {
  border-collapse: collapse;
  margin: 2%;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}



#board {
  background-color: #348ceb;
  display: inline-block;
  vertical-align: middle;
  line-height: 123px;
  user-select: none;

}

#yellowFirst {
  background-color: #f5ef38;
}

#redFirst {
  background-color: #ed3b3b;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  width: 456px;

}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#turn {
  font-size: 70px;
  margin: 5px;
}

#reset-scoreboard {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 0%;
  text-align: center;
  width: 456px;
}

#reset-scoreboard:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}


#head{
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

li{
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
  min-width: 80px;
  margin: auto;
  text-decoration: none;
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
   padding: 14px 16px;

}
li a:hover:not(.active) {
  background-color: #D5D5D5 ;
}

.active {
  background-color: #FF7433;
}
