/*I put the background in the body*/
/*It was important to make sure that it worked for mobile phones as well*/
body {
  text-align: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1 {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: black;
  margin: 2%;
}

h2, h3 {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin: 2%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
    height: 30px;
    width: 25%
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  background-image: url("../images/wood-texture.jpg");
  background-size: cover;
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid black;
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

/* Id */
#reset-button {
  background-image: url("../images/wood-texture.jpg");
  background-size: cover;
  border: 3px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 35%;
}

#change-order-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
    border: 3px solid black;
    color: black;
    font-size: 50px;
    text-align: center;
    width: 75px;
    height: 75px;
}

#reset-score-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-image: url("../images/wood-texture.jpg");
    background-size: cover;
    border: 3px solid black;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

#reset-button:hover, #change-order-button:hover, #reset-score-button:hover {
  border-color: lightgray;
  cursor: pointer;
}

#reset-button:active, #change-order-button:active, #reset-score-button:active {
  transform: scale(0.99);
}
